.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container img {
  flex: 1;
  width: 50%;
  height: 50%;
  margin-bottom: 1em;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #f2f2f2, #f2f2f2 50%, #fff 50%, #fff);
  z-index: -1;
}

.container .authCard {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .authCard h3 {
  margin-bottom: 1em;
  font-size: 2em;
  position: relative;
}

.container .authCard h3::after {
  position: absolute;
  content: "";
  top: 110%;
  left: 0;
  width: 90%;
  height: 0.1em;
  background: var(--primary);
}
