* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --primary: #536dfe;
}

*[data-hidden="true"] {
  display: none;
}
